@using Model.Event
@using Service
@model IEnumerable<StorableObjectEvent>

<script src="~/js/tableResizer.js"></script>

@if(ViewBag.Filtration == true)
{
	<script src="~/js/TableFilterMenu.js"></script>
	<div class="fs-3 m-3">
		Количество найденных событий = <span id="eventTable_visibleRowsCount" class="fs-3"></span>
	</div>
}

<table id="eventTable" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th><input class="form-check-input" type="checkbox" id="checkAll" onchange="setCheckAllVisibleChildElements(document.querySelector('table#eventTable'), this.checked)"></th>
			<th>
				Id<div class="resizer"></div> @if(ViewBag.Filtration == true)
				{
					@await Component.InvokeAsync("TableFilterMenu", new
						{
							tableId = "eventTable",
							columnIndex = "1",
							filterOptions = Model.Select(e => e.Id.ToString()).Distinct(),
							columnName = "Id"
						})
				}
			</th>
			<th>
				Тип<div class="resizer"></div>
				@if(ViewBag.Filtration == true)
				{
					@await Component.InvokeAsync("TableFilterMenu", new
					{
						tableId = "eventTable",
						columnIndex = "2",
						filterOptions = Model.Select(e => EventStringBuilder.EventTypeToString(e.EventType)).Distinct(),
						columnName = "Тип"
					})
				}
				
			</th>
			<th>
				Дата и Время<div class="resizer"></div>
				@if (ViewBag.Filtration == true)
				{
					@await Component.InvokeAsync("TableFilterMenu", new
					{
						tableId = "eventTable",
						columnIndex = "3",
						filterOptions = Model.Select(e => e.DateTime.ToString()).Distinct(),
						columnName = "Дата и время"
					})
				}
				
			</th>
			<th>
				Ответственный
				@if (ViewBag.Filtration == true)
				{
					@await Component.InvokeAsync("TableFilterMenu", new
					{
						tableId = "eventTable",
						columnIndex = "4",
						filterOptions = ViewBag.DistinctEmployeNames,
						columnName = "Сотрудник"
					})
				}
				
			</th>
			<th>
				Дополнительная информация<div class="resizer"></div>
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody class="table w-100 table-group-divider">
		@foreach (var item in Model)
		{
			<tr class="d-table-row">
				<td class="border border-1">
					<input class="form-check-input" type="checkbox" id="checkbox_@item.Id" value="@item.Id" aria-label="...">
				</td>
				<td class="border border-1">@item.Id</td>
				<td class="border border-1">@EventStringBuilder.EventTypeToString(item.EventType)</td>
				<td class="border border-1">@item.DateTime.ToString()</td>
				<td class="border border-1">@ViewBag.EmployeesNames[item.EmployeeId]</td>
				<td class="border border-1">@await Html.PartialAsync("EventAdditionalInfo", item)</td>
				<td class="border border-1 p-0 m-0">
					<div class="mx-auto">
						<form asp-controller="Archive" asp-action="ObjectsInEvent" method="get">
							<input type="hidden" name="eventId" value="@item.Id" />
							<input type="submit" class="btn btn-primary" value="Объекты в событии"/>
						</form>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	let eventFilterMenu = new TableFilterMenu("eventTable", [1, 2, 3, 4]);

	window.addEventListener('load', function () {
		eventFilterMenu.bindButtons();
		eventFilterMenu.updateRowsCount();
	});

	makeResizable(document.querySelector('table#eventTable'));
</script>