@using Model
@model List<Model.MaterialPiece>

<h2>Список материалов</h2>

<style>
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        padding: 10px;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    }

    .locations-bar {
        position: fixed;
        display: flex;
        width: 100%;
        background-color: transparent;
        text-align: center;
        padding: 10px;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    }
</style>

<div class="locations-bar">
    @{
        foreach (Location location in ViewBag.Locations)
        {
            <form asp-controller="StorableObject" asp-action="Equipment">
                <button type="submit" asp-route-locationId="@location.Id" class="btn btn-primary">@location.Name</button>
            </form>
        }
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Тип</th>
            <th>Название</th>
            <th></th>
            <th>Кол-во</th>
            <th>Инвентарный номер</th>
            <th>Место хранения</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Type</td>
                <td>@item.Name</td>
                <td>@item.Units</td>
                <td>@item.Amount</td>
                <td>@item.InventoryNumber</td>
                <td>@item.StorageType</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

<div class="fixed-bottom">
    @{
        foreach (string prm in ViewBag.PermissionsNames)
        {

            switch (prm)
            {
                case "Добавить":
                    <form asp-controller="EquipmentPage" asp-action="Add">
                        <button type="submit" class="btn btn-primary">Доабвить</button>
                    </form>

                    break;
                case "Изменить":
                    <form asp-controller="EquipmentPage" asp-action="Edit">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </form>

                    break;
                case "В доставку":
                    <form asp-controller="EquipmentPage" asp-action="Edit">
                        <button type="submit" class="btn btn-primary">В доставку</button>
                    </form>
                    break;
                case "Удалить":
                    <form asp-controller="EquipmentPage" asp-action="Edit">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </form>
                    break;
            }
        }
    }
</div>


