<h1>Создаём доставку из @ViewBag.DepartureLocation.Value</h1>

<input type="hidden" name="departureId" value="@ViewBag.DepartureLocation.Key" />

<p>Будет в доставке</p>

@{
    @foreach (Model.IStorableObject item in ViewBag.SelectedObjects)
    {
        <input type="hidden" name="selectedIds" value="@item.Id" />
    }
}
<script src="~/js/TableFilterMenu.js"></script>
<script src="~/js/tableResizer.js"></script>

@await Html.PartialAsync("StorableObjectsTables", (IEnumerable<Model.IStorableObject>)ViewBag.SelectedObjects)

<script>
    function validateForm() {
        var comment = document.querySelector('input[name="comment"]').value;
        var dateTime = document.querySelector('input[name="dateTime"]').value;

        // Пример проверки: убедитесь, что комментарий не пустой и дата отправки выбрана
        if (!comment.trim()) {
            alert('Комментарий не может быть пустым.');
            return false; // Останавливает отправку формы
        }

        if (!dateTime) {
            alert('Дата отправки не выбрана.');
            return false; // Останавливает отправку формы
        }

        // Если валидация прошла успешно, форма отправится
        return true;
    }
</script>

<form method="post" onsubmit="return validateForm()">
    <div class="card w-auto mb-3">
        <div class="card-body">
            <h5 class="card-title">Выберите место назначения</h5>
            @foreach (KeyValuePair<int, string> location in ViewBag.Locations)
            {
                <div class="form-check">
                    <label class="form-check-label" for="@location.Key">
                        @location.Value
                    </label>
                    <input class="form-check-input" type="radio" name="destinationId" id="@location.Key" value="@location.Key">
                </div>
            }
        </div>
    </div>
    
    <div>
        <p>
            <label for="Comment">Комментарий</label><br />
            <input type="text" name="comment" />
        </p>
        <p>
            <label for="DateTime">Дата отправки</label><br />
            <input type="datetime-local" name="dateTime" max="@(ViewBag.MaxDateTimeString)" />
        </p>
        <p>
            <input class="btn btn-success" type="submit" value="Создать доставку" />
        </p>
    </div>
</form>